@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

#root{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1a1a1a;
}
#root::-webkit-scrollbar {
  display: none;
}

.navbarfont{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar_header{
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scrollcss::-webkit-scrollbar {
  width: 10px;
}

.scrollcss::-webkit-scrollbar-thumb {
  /* color: rgb(255,75,74); */
  background-color: rgb(255, 75, 74);
  border-radius: 4px;
}

.scrollcss::-webkit-scrollbar-track {
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
}
